article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	background: #141414;
}

body {
	font-family: 'Montserrat', sans-serif;
	min-height: 100vh;
	color: #ededed;
	color: var(--color-text);
	background-color: #fff;
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Color schemes */
.demo-1 {
	--color-text: #ededed;
	--color-bg: #000;
	--color-link: #fff;
	--color-link-hover: #5d5050;
	--color-info: #5d5050;
	--color-menu: #fff;
	--color-menu-hover: #fff;
	--color-title: #fff;
	--color-subtitle: #ededed;
	--color-deco: #161616;
}

/* Fade effect */
.js body {
	opacity: 0;
	transition: opacity 0.3s;
}

.js body.render {
	opacity: 1;
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

main {
	position: relative;
	width: 100%;
}

.content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	min-height: 100vh;
}

.content--reveal {
	position: absolute;
	z-index: 1001;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	pointer-events: none;
}

.content--fixed {
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	display: grid;
	align-content: space-between;
	width: 100%;
	max-width: none;
	min-height: 0;
	height: 100vh;
	padding: 1.5em;
	pointer-events: none;
	grid-template-columns: 70% 30%;
	grid-template-rows: auto auto 4em;
	grid-template-areas: 'header ...'
	'... ...'
	'github info';
}

.content--fixed a {
	pointer-events: auto;
}

.content__inner {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 50%;
	display: grid;
	align-items: center;
	justify-content: center;
	justify-items: center;
	align-content: end;
}

.js .content__inner {
	opacity: 0;
	transition: opacity 0.3s;
}

.content__title {
	font-size: 8vw;
	margin: 0;
	color: var(--color-title);
	text-transform: lowercase;
	letter-spacing: -0.05em;
	text-indent: -0.05em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
}

.content__subtitle  {
	max-width: 300px;
	text-align: center;
	font-size: 1.25em;
	font-weight: 400;
	margin: 0;
	color: var(--color-subtitle);
}

.content__close {
	position: absolute;
	top: 55%;
	left: 50%;
	background: none;
	color: var(--color-link);
	border: 1px solid;
	padding: 0;
	display: block;
	margin: 0 0 0 -2em;
	width: 4em;
	height: 4em;
	font-size: 1.25em;
	border-radius: 50%;
	opacity: 0;
	cursor: pointer;
	transition: opacity 0.3s;
}

.content__close:focus {
	outline: none;
}

.content__close:hover {
	background: var(--color-bg);
	border-color: var(--color-bg);
}

.deco-title {
	font-size: 50vw;
	margin: 0;
	pointer-events: none;
	position: absolute;
	color: var(--color-deco);
}

/* Scene */
.scene {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	//pointer-events: none;
	z-index: 1;
}

.scene .blob-1 path {
	fill: url(#gradient-1);
}

.scene .blob-2 path {
	fill: url(#gradient-2);
}

.scene .blob-3 path {
	fill: url(#gradient-3);
}

.scene .blob-4 path {
	fill: url(#gradient-4);
}

.scene .blob-5 path {
	fill: url(#gradient-5);
}

.scene .blob-6 path {
	fill: url(#gradient-6);
}

.scene path:first-of-type {
	fill-opacity: 0.1;
}

.scene path:nth-of-type(2) {
	fill-opacity: 0.2;
}

.scene path:nth-of-type(3) {
	fill-opacity: 0.3;
}

.scene path:nth-of-type(4) {
	fill-opacity: 0.4;
}

.scene path:nth-of-type(5) {
	fill-opacity: 0.5;
}

.scene path:nth-of-type(6) {
	fill-opacity: 0.6;
}

.menu {
	position: relative;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	margin: 0 0 0 25vw;
	font-size: 4vw;
	align-items: flex-start;
}

.menu__item {
	color: var(--color-menu);
	line-height: 1.25;
	text-transform: lowercase;
	letter-spacing: -0.025em;
	text-indent: -0.025em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	position: relative;
}

.menu__item:hover,
.menu__item:focus {
	color: var(--color-menu-hover);
}

.menu__item::before {
	content: '';
	width: 60%;
	height: 25px;
	background: linear-gradient(45deg, #f19872, #e86c9a);
	position: absolute;
	left: 0;
	bottom: 0;
	transform-origin: 0 0;
	transform: scale3d(0,1,1);
}

.menu__item:nth-child(2)::before {
	background: linear-gradient(45deg, #0947db, #07d89d);
}

.menu__item:nth-child(3)::before {
	background: linear-gradient(45deg, #ee2d29, #f8ae2c);
}

.menu__item:nth-child(4)::before {
	background: linear-gradient(45deg, #3a3d98, #6f22b9);
}

.menu__item:nth-child(5)::before {
	background: linear-gradient(45deg, #9d316e, #de2d3e);
}

.menu__item:nth-child(6)::before {
	background: linear-gradient(45deg, #00ac53, #23c3e0);
}
	
.menu__item--showDeco::before {
    transition: transform 0.8s cubic-bezier(0.2,1,0.3,1);
    transform: scale3d(1,1,1);
}

.menu__item--showDeco:hover::before {
    transition: transform 0.8s cubic-bezier(0.2,1,0.3,1);
    transform: scale3d(1.2,1,1);
}

.menu__item span {
	display: block;
	position: relative;
}

/* Header */
.codrops-header {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	align-items: center;
	align-self: start;
	grid-area: header;
	justify-self: start;
}

.codrops-header__title {
	margin: 0;
	padding: 0;
	font-weight: 700;
	font-size: 1em;
}

.info {
	margin: 0;
	color: var(--color-info);
	grid-area: info;
	align-self: end;
	justify-self: end;
}

.github {
	display: block;
	align-self: end;
	grid-area: github;
	justify-self: start;
}

/* Top Navigation Style */
.codrops-links {
	position: relative;
	display: flex;
	justify-content: center;
	margin: 0 1em 0 0;
	text-align: center;
	white-space: nowrap;
}

.codrops-icon {
	display: inline-block;
	margin: 0.15em;
	padding: 0.25em;
}

@media screen and (max-width: 55em) {
	.message {
		display: block;
	}
	.content {
		flex-direction: column;
		height: auto;
		min-height: 0;
		padding-bottom: 10em;
	}
	.content--fixed {
		position: relative;
		z-index: 10000;
		display: block;
		padding: 0.85em 0.5em 2em;
	}
	.codrops-header {
		flex-direction: column;
		align-items: center;
	}
	.codrops-header__title {
		padding-bottom: 0.25em;
		font-size: 1.5em;
		text-align: center;
	}
	.info {
		margin: 0;
		text-align: center;
	}
	.github {
		display: none;
	}
	.codrops-links {
		margin: 0;
	}
	.menu {
		font-size: 2.75em;
		margin: 0 auto;
		align-items: center;
	}
	.content__inner {
		margin-top: 12em;
	}
	.content__close {
		top: 15em;
	}
}
